<div>
	<!-- <a class="btn" 
	    href="javascript:;"
	    ng-click="vm.open()" 
	    title="Изменить"><i class="icon-calendar"></i>  </a> -->
    <!-- <input type="text" ng-value="vm.getViewDate()" ng-click="vm.open()"> -->
    <a class="btn" 
        href="javascript:;"
        ng-click="vm.open()" 
        title="Изменить"><i class="icon-calendar"></i> <span ng-bind="vm.getViewDate()"><span></a>

	<script type="text/ng-template" id="datetimepicker-dialog.html">
		<div class="ngdialog-buttons mt">
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="close()">ok</button>
		</div>
	    <datetimepicker 
	        data-ng-model="model" 
	        data-datetimepicker-config="config" 
	        data-on-set-time="onSetTime(newDate, oldDate)" />    
	</script>
</div>